@font-face {
  font-family: 'Vaseline Extra';
  src: url('assets/fonts/Vaseline-Extra.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roung';
  src: url('assets/fonts/roung.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
